<div class="panel-heading">
    <h4 class="panel-title">Ajouter un cercle</h4>
</div>
<div class="panel-collapse collapse in">
    <form class="panel-body" ng-submit="addCircle()">
        <div>Rayon (km) :</div>
        <input type="text" name="radius" ng-model="radius">
        <div>Coordonnées du centre :</div>
        <input type="text" ng-model="center" name="center" ng-model="center">
        <input type="submit" value="Dessiner le cercle" class="btn btn-default"></input>
    </form>
</div>

<div class="panel-heading">
    <h4 class="panel-title">Ajouter un polygone</h4>
</div>
<div class="panel-collapse collapse in">
    <form class="panel-body" ng-submit="addPoly()">
        <div>Coordonnées :</div>
        <input type="text" name="polyCoords" ng-model="polyCoords">
        <input type="submit" value="Dessiner le polygone" class="btn btn-default"></input>
    </form>
</div>

<div class="panel-heading">
    <h4 class="panel-title" ng-click="clear()">Réinitialiser</h4>
</div>
